[Desktop Entry]
Encoding=UTF-8
Name=InputDialogActivity
Type=Activity
Comment=Add a comment about the Activity
X-PLEXYDESK-Library=inputdialogactivityactivity
